In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

## for feature slection

from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

# to visualise al the columns in the dataframe
pd.pandas.set_option('display.max_columns', None)

In [2]:
df=pd.read_csv("UCI_Credit_Card.csv")
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,-2,-2,3913.0,3102.0,689.0,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,0,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,0,0,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,0,0,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,0,0,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [3]:
# # Dividing dependent and independent variables
X = df.drop("default.payment.next.month", axis=1)
y = df["default.payment.next.month"]

In [4]:
# Sampling
from imblearn.over_sampling import SMOTE 
from collections import Counter

sampler = SMOTE()
X, y = sampler.fit_resample(X, y)

print('SMOTE {}'.format(Counter(y)))

SMOTE Counter({1: 23364, 0: 23364})

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [7]:
X_train.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
45038,25593,100000.00000,1,2,1,41,0,0,0,0,3,3,47131.725001,52343.293768,59085.213830,65717.506971,66852.386883,66975.465273,6505.658901,8260.913595,8260.913595,2795.472879,1547.493915,998.383171
14976,14977,30000.00000,2,3,1,58,2,2,2,2,2,2,26580.000000,27652.000000,27905.000000,27158.000000,29239.000000,29791.000000,1800.000000,1000.000000,0.000000,2518.000000,1185.000000,1200.000000
14304,14305,60000.00000,1,2,1,41,0,0,0,0,0,0,95648.000000,56259.000000,49425.000000,16941.000000,13349.000000,14826.000000,5000.000000,4731.000000,2000.000000,10000.000000,3000.000000,5000.000000
35234,11231,274222.70762,1,1,2,35,1,1,0,0,1,0,145082.380585,144683.496352,150276.718222,158725.425153,155922.889669,151918.973559,6167.914205,9052.887948,11949.785381,2522.160151,5555.434494,5449.637403
25941,25942,210000.00000,2,2,1,34,-1,-1,-1,0,0,0,25650.000000,1360.000000,31793.000000,32943.000000,30019.000000,30657.000000,1360.000000,31793.000000,1943.000000,819.000000,763.000000,2280.000000

In [8]:
feature_sel_model = SelectFromModel(Lasso(alpha=0.005, random_state=0)) # remember to set the seed, the random state in this function
feature_sel_model.fit(X_train, y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=0))

In [9]:
feature_sel_model.get_support()

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False])

In [14]:
selected_feat = X_train.columns[(feature_sel_model.get_support())]

print('total features: {}'.format((X_train.shape[1])))
print('selected features: {}'.format(len(selected_feat)))
print('features with coefficients shrank to zero: {}'.format(
   np.sum(feature_sel_model .estimator_.coef_ == 0)))

total features: 24
selected features: 9
features with coefficients shrank to zero: 1

In [15]:
selected_feat

Index(['SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3',
       'PAY_4', 'PAY_5'],
      dtype='object')

In [16]:
X_train=X_train[selected_feat]

In [17]:
X_train.head()

       SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  PAY_5
45038    1          2         1   41      0      0      0      0      3
14976    2          3         1   58      2      2      2      2      2
14304    1          2         1   41      0      0      0      0      0
35234    1          1         2   35      1      1      0      0      1
25941    2          2         1   34     -1     -1     -1      0      0